* {
    padding: 0px;
    margin: auto 0px;

    text-align: center;
}

h1,
h2,
h3,
a,
p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;

    color: white;

    background-color: #101010;
    background-image: url('../img/bg.jpeg');
    /* from 20251023_141239-01-02.jpeg */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 3rem 1rem;
}

.box-dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    outline: solid 0.125rem white;
    border-radius: 3px;

    transition: all .1s;
}

.box-dark-hover:hover {
    background-color: white;
    color: black;
    outline: solid 0.125rem black;
}


h1 {
    font-size: 3rem;
}

h2 {

    font-size: 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    padding: 1rem;
    font-weight: bold;
}

a:hover {
    padding: 1rem;
    font-weight: bold;
}